:root {
  --font-color: #000;
  --link-color: #1c75b9;
  --link-white-color: #fff;
  --bg-color: rgb(243, 243, 243);
  --color-scheme: light;
}

[data-theme="dark"] {
  --font-color: #c1bfbd;
  --link-color: #0a86da;
  --link-white-color: #c1bfbd;
  --bg-color: #333;
  --color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: var(--color-scheme, light);
  font-family: var(--font-geist-mono);
}

body {
  color: var(--font-color);
  background: var(--bg-color);
  transition: background 0.4s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
