@import '../app/common.scss';

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.emptyNotice {
  text-align: center;
  font-style: italic;
  padding: 4rem;
  height: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $breakpoint-desktop) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $breakpoint-large) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
