@import './CharacterLink.module.scss';

.skeleton {
  @extend .listItem;
  position: relative;
  overflow: hidden;
  color: var(--color-text-secondary);
  
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: shine 1.5s infinite;
    transform: rotate(45deg);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
