.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px var(--color-primary);
}

.navbar h1 {
  font-size: 1.75rem;
  font-weight: 800;
}
